 <!-- <h2 style="margin-top: 70px;"> My Restaurants </h2>

<ul>
  <p><% restaurants.forEach((oneResto) => { %></p>

    <div class="container" style="float: left; width: 75%;">
    <li class="box">
      <h3 class="move"><%= oneResto.restaurantName %></h3>
      <img src="<%= oneResto.photoUrl %>" >
      <p class="move">Cuisine: <i><%= oneResto.restaurantCity %></i></p>
      <p class="move">Rating: <i><%= oneResto.restaurantReservation %></i></p>
      <p class="move">Comments: <i><%= oneResto.restaurantName %></i></p>


    </li>
  </div>
  <% }) %>
</ul> -->

<% if (restaurants.length > 0){ %>

<h2 style="margin-top: 60px;"> My Restaurants </h2>

<div class="container one-resto">

  <p><% restaurants.forEach((oneResto) => { %></p>

<h2 class="move" style="margin-top: 30px;"> <%=  oneResto.name %> </h2>

<ul
    <div class="container" style="float: left; width: 75%;">
    <li class="box">
      <img style="margin-top: 50px; margin-right: 20px;" src="<%=  oneResto.image_url %>" >
      <!-- <p>Restaurant Name: <i><%=  oneResto.restaurantName %></i></p> -->
      <p class="move">Address: <i><%=  oneResto.address %></i></p>
      <p class="move">City: <i><%=  oneResto.city %></i></p>
      <p class="move">State: <i><%=  oneResto.state %></i></p>
      <p class="move">Country: <i><%=  oneResto.country %></i></p>
      <p class="move">Phone #: <i><%=  oneResto.phone %></i></p>
      <% if (oneResto.price === 1) { %>
        <p class="move">Price: <i> $ </i></p>
      <% } else if (oneResto.price === 2) { %>
        <p class="move">Price: <i> $$ </i></p>
      <% } else if (oneResto.price === 3) { %>
        <p class="move">Price: <i> $$$ </i></p>
      <% } else if (oneResto.price === 4) { %>
        <p class="move">Price: <i> $$$$ </i></p>
      <% } %>      <p class="move"><i><a href="<%=  oneResto.reserve_url %>">Reserve NOW On Open Table</a></i></p>

      <a href="<%=  oneResto._id %>/delete" style="position: relative">
        Delete This Restaurant
      </a>
    </li>
  </div>
</ul>

<% }); %>

</div>

<% } else { %>
  <h2 class="move" style="margin-top: 30px;"><a href="/restaurants/new"> No Restaurants Here! Add One By Clicking Here </a></h2>
<% } %>
