<ul>


  <p><% reviewsAndStuff.forEach((oneReview) => { %></p>
    <% if(oneReview.cuisine === "Japanese"){ %>
    <div class="container" style="float: left; width: 75%;">
    <li style="background-color: lightgray; height: 350px;">
      <h3 class="move"><%= oneReview.restaurantName %></h3>
      <img src="<%= oneReview.photoUrl %>" >
      <!-- <p>Restaurant Name: <i><%= oneReview.restaurantName %></i></p> -->
      <p class="move">Cuisine: <i><%= oneReview.cuisine %></i></p>
      <p class="move">Rating: <i><%= oneReview.rating %></i></p>
      <p class="move">Comments: <i><%= oneReview.comments %></i></p>

    </li>
  </div>
  <% } %>
  <% }) %>
</ul>
